body {
    color: #000000;
    background-color: #ffffff;
    font-size: 12px;
    margin: 10px;
    height: 450px;
    width: 550px;
    border: 2px solid #000000;
}

p {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
    width: 530px;
}

.pullQuote {
    float: right;
    width: 160px;
}