* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box-sizing {
    background-color: indianred;
    border: 10px solid blueviolet;
    padding: 20px;
    margin: 60px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}