* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: auto;
}

.box {
    width: 40%;
    height: auto;
    background-color: yellow;
    display: inline-block;
}

[class*="box-"] {
    border: 2px solid red;
    margin: 5px;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {

    .box {
        width: 100%;
        background-color: salmon;
    }
}

/* For tablets phones: */
@media only screen and (min-width: 768px) {

    .box {
        width: 40%;
        background-color: teal;
    }
}

/* For laptops phones: */
@media only screen and (min-width: 992px) {

    .box {
        width: 30%;
        background-color: palegreen;
    }
}

/* For large screens: */
@media only screen and (min-width: 1200px) {

    .box {
        width: 23%;
        background-color: aqua;
    }
}